<div class="container">
	<div class="row">
	<!--    Page Header Section     -->
    <app-header></app-header>
		<div class="pg-bdy">
			<!-- Breadcrumb Section -->
			<ul class="breadcrumb">
				<li><a ui-sref="Home">C3P</a></li>
				<li class="breadcrumbLabel">Admin</li>
				<li class="active" >Global List Management</li>
			</ul>
			<!-- Breadcrumb Section -->
			<!-- Search Section -->
			<form id="createCongigForm" novalidate>
				<div class="panel form-inline border-top mt-5 lbl-normal cmp-normal">
					<!--    Customer Information     -->
					<section class="pr-60">
						<h3 class="title second-title ml-40 mt-5">Attribute Information</h3>
						<div class="row mt-5">
						<div class="col-lg-4 form-group">
								<label class=" col-lg-4 text-right">Attribute :</label>
								<div class="col-lg-8">
									<div class="styled-select">
										<select name="attributeName" [(ngModel)]="attributeName" (change)="onAttributeChange()">
											<option *ngFor="let item of attributeList" value="{{item}}">{{item}}</option>
										</select> 
									</div>
								</div>
							</div>
							<div class="col-lg-4 form-group">
								<label class=" col-lg-4 text-right">Attribute List :</label>
								<div class="col-lg-8">
									<ul class="selectListStyle">
										<li *ngFor="let item of selectedattributeList" value="{{item.key}}">{{item.key}}</li>
									</ul>
								</div>
							</div>
							<div class="col-lg-4 form-group">
								<div class="col-lg-12 form-group">
									<button type="submit" (click)="onAttributeAdd()" class="btn btn-primary pull-right">Add</button>
								</div>
							</div>
						</div>
			
		
						<div class="row mt-5">
							<div *ngFor="let attribute of getRequiredAtbList" class="col-lg-4 form-group mt-10">
									<label class=" col-lg-4 text-right">{{attribute.name}}</label>
									<div class="col-lg-8">
										<div class="styled-select">
											<select placeholder="Select" name="{{attribute.name}}" [(ngModel)]="attribute.attribute"  (change)="getAvailableAtrList(attribute.name,attribute.attribute,attribute.getAvailabeAtrList)">
												<option *ngFor="let item of attribute.getAvailabeAtrList" value="{{item}}">{{item}}</option>
											</select> 
										</div>
									</div>
							</div>
							<div *ngIf="newAttributeName" class="col-lg-4 form-group mt-10">
								<label class=" col-lg-4 text-right">{{newAttributeName}}</label>
								<div class="col-lg-8">
									<input (keypress)="this[avoidSpaceMthd]($event)" type="text" maxlength ="{{maxLength}}" name="newAttributeName" [(ngModel)]="newAttributeNameValue" required></div>
							</div>
						</div>
						<!-- dual list box start-->
						<div *ngIf="attributeName == 'Model'" class="row mt-30">
							<div class="col-sm-4 col-sm-offset-1">
							<select id="leftList" class="dualListBoxStyle" name="leftList"  size="4" multiple>
								<option *ngFor="let item of leftInterfaceList" class="list-group-item" value="item">{{item}}</option>
								</select>
							</div><!--/col-4-->
							<div class="col-md-2 v-center text-center"  style="margin-top: 5%;">
							<div class="btn-group">
								<button title="Send to list 1" class="btn btn-default"  (click)="transferFromtRightToLeft($event)"><i class="glyphicon glyphicon-chevron-left"></i></button>
								<button title="Send to list 2" class="btn btn-default" (click)="transferFromLeftToRight($event)" ><i class="glyphicon glyphicon-chevron-right"></i></button>
							</div>
							</div><!--/col-2-->
							<div class="col-sm-4">
							<select id="rightList" name="righttList" class="dualListBoxStyle" multiple>
								<option  *ngFor="let item of rightInterfaceList" class="list-group-item" value="item">{{item}}</option>
							</select>
							</div><!--/col-4-->
						</div><!--/row-->
					<!-- dual list box end-->
						<div class="row mt-5" *ngIf="newAttributeName">
							<div class="col-lg-12 form-group">
								<button type="submit" (click)="onAttributeSave('display_request_id')" class="btn btn-primary pull-right">Save</button>
							</div>
						</div>
					</section>
				</div>
			</form>
			
		</div>
		<!--    Page Footer Section  -->
		<footer class="text-center">&copy; Tech Mahindra - 2017</footer>
		<!--    Page Footer Section  -->
	</div>
</div>
