<div class="container home-pg" >
    <!-- Header Section -->
    <header>
        <nav class="navbar navbar-default pull-right">
            <div class="container-fluid">
                <ul class="nav navbar-nav pg-nav" style="width: 100%">
                    <li class="dropdown user-menu" dropdown>
                        <a class="dropdown-toggle ico-user" dropdownToggle>Welcome <span>{{userInfo.username}}</span><span class="caret"></span></a>
                        <ul *dropdownMenu class="dropdown-menu">
                            <li role="menuitem"><a class="profile" >View Profile</a></li>
                            <li role="menuitem" class="" (click)="logOut()"><a class="logout" >Logout</a></li>                         
                        </ul>
                    </li>
                    <li class="" (click)="helpPopUp()"><a class="ico-help"></a></li>
                    <li class="dropdown " dropdown>
                        <a (click)="pendingTemplateList()" style="border: none;margin-top: -5px;" 
                          class="ico-notif bgBlack dropdown-toggle" dropdownToggle>
                          <span class="badge badge-notify" style="left: -9px;"> {{notificationCount}}</span>
                        </a>
                          <ul *dropdownMenu class="dropdown-menu dropdown-slider-noti" style="left: -90%;">
                            <li role="menuitem" class="dropdown-header" style="border-bottom: 1px solid #80808066">
                                <a ui-sref="Approval" class="noti-header-link">Notification : Template Approval</a></li>
                            <!-- li  ng-class="{'notiRead': template.read == '1'}" ng-repeat="template in notiTemplateList"><a style="color: #337ab7 !important" (click)="pendingTemplateList()" ui-sref="approvalDetails({templateId: template.templateId,version: template.version,read: 1})">{{template.templateId}}-v {{template.version}}</a></li -->
                          </ul>
                          </li>
                    <li><a (click)="logOut()" class="ico-power"></a></li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- Header Section -->
    <!-- Nav Section -->
    <nav class="home-nav">
        <div class="nav-logo">
            Connect Configure Certification Platform
        </div>
        <nav>
            <ul>
                <li>
                    <a routerLink="/dashboard" class="ico-home-dashboard">Dashboard</a>                        
                </li>
                <li>
                    <a class="ico-home-config">Configuration</a>
                    <nav class="sub-menu">
                        <ul>
                            <li>
                                <a>Create</a>
                             <nav class="sub-menu">
                                  <ul>
                                      <li>
                                          <a href="http://localhost:8080/C3P/#/create">Legacy</a>
                                          <div class="circle"></div>
                                      </li>
                                      <li>
                                          <a href="http://localhost:8080/C3P/#/createSDN" style="left: -47px !important;">SDN/NFV</a>
                                          <div class="circle"></div>
                                      </li>
                                      <div class="subArcMenu"></div>
                                      <div class="subArcMenuhover"></div>
                                  
                                  </ul>
                                  <div class="subarc-container">
                                      <div class="subarc"></div>
                                  </div>
                              </nav>
                                  <div class="circle"></div>
                              </li>
                            <li>
                                <a href ="http://localhost:8080/C3P/#/ViewConfiguration">View</a>
                                <div class="circle"></div>
                            </li>                            
                          </ul>
                        <div class="arc-container">
                            <div class="arc"></div>
                        </div>
                    </nav>
                </li>
                <li>
                    <a routerLink="/report" class="ico-home-report">Report</a>
                </li>
                  <li ng-show="showPrivilegeLeveAdmin">
                    <a class="ico-home-admin" routerLink="/admin">Administrator</a>
                    <nav class="sub-menu">
                        <ul style="top: -74px;left: -77px;">
                        <li>
                                <a href="http://localhost:8080/C3P/#/RA" style="left:-43px !important">Settings</a>
                                <div class="circle"></div>
                            </li>
                            <li style="margin-right: 17px;margin-left: -18px">
                                <a  routerLink="/devicemanagement" style="left:-105px !important">Device Management</a>
                                <div class="circle"></div>
                            </li>
                            <li style="margin-right: -1px;">
                                  <a  href="http://localhost:8080/C3P/#/templateManagement" style="left:-117px !important" ng-click="makeMeActive('Admin')">Template Management</a>
                                  <div class="circle"></div>
                              </li>
                            
                        </ul>
                        <div class="arc-container">
                            <div class="arc"></div>
                        </div>
                    </nav>
                </li>
            </ul>
        </nav>
    </nav>
    <!-- Nav Section -->
    
    <!--    Page Footer Section  -->
    <app-footer></app-footer>
    <!--    Page Footer Section  -->
  </div>