<div class="container home-pg" >
    <!-- Header Section -->
    
    <!-- Header Section -->
    <!-- Nav Section -->
    <div class="container home-pg">
       
    <section id="c3p_login">
      
        <header>Connect Configure Certification Platform</header>
        <form>
        <div class="bdy">
            <div class="row form-horizontal mt-30">
                <div class="form-group">
                    <label class="control-label col-lg-4">User Name</label>
                    <div class="col-lg-8">
                        <input ng-keyup="$event.keyCode == 13 && login()" type="text" class="form-control" name="username" [(ngModel)]="user.username"/>
                    </div>
                </div>
            </div>
            <div class="row form-horizontal mt-10">
                <div class="form-group">
                    <label class="control-label col-lg-4">Password</label>
                    <div class="col-lg-8">
                        <input ng-keyup="$event.keyCode == 13 && login()" type="password" class="form-control col-lg-8" name="password" [(ngModel)]="user.password"/>
                    </div>
                </div>
            </div>
            <div class="row form-horizontal mt-10">
                <div class="form-group">
                    <label class="col-lg-4">&nbsp;</label>
                    <div class="col-lg-8">
                        <div class="styled-chkbox">
                            <input type="checkbox" name="keepmelogin" [(ngModel)]="user.keepmelogin" class="chkbox" id="chk_keepmelogin" />
                            <label for="chk_keepmelogin">Keep me Logged in</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <button  class="btn login pull-right" (click)="login()">Login</button>
            </div>
        </div>
      </form>
    </section>
    
</div>
    <!--    Page Footer Section  -->
    <app-footer></app-footer>
    <!--    Page Footer Section  -->
</div>
